.idea/
.gradle/
*.iml
*.ipr
*.iws
work/
log/
logs/
.DS_Store
build/
target/
.project
.classpath
eclipse-build
*/.project
*/.classpath
*/eclipse-build
/.settings/

## netbeans ignores
nb-configuration.xml
nbactions.xml
